*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Game{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.Game .header{
width: 100%;
height: fit-content;
display: flex;
justify-content: space-between;
align-items: center;

}
.Game .header  h1{
    color: white;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.Game .header .between{
    color: white;
    text-align: center;
}
#again{
    background-color: white;
    color: black;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: oblique;
}

.middle{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.middle .border_one{
    width: calc((100% - 100px) / 2);
    border: 2px solid white;
    height: fit-content;
}
.middle .theNumber{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#theNumber {
    color: black;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.middle .border_two{
    width: calc((100% - 100px) / 2);
    border: 2px solid white;
    height: fit-content;
}
.footer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
} 
input{
    width: 50%;
    height: 70px;
    border-radius:12px;
    border: none;
    outline: none;
}
.check{
    width: fit-content;
    padding: 5px 10px 5px 10px;
    height: fit-content;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 34px;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.right p {
    color: white;
    width: fit-content;
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#guess{
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
    line-clamp: inherit;
}